.textarea {
    padding: 1rem;
    border: solid medium #cecece;
    border-radius: 15px;
    font-size: 1.2rem;
    transition: border-color ease .2s;
    display: flex;
    flex-grow: 1;
    font-family: sans-serif;
    min-height: 200px;
}
.textarea:focus {
    outline: none;
    border-color: #7F9C96;
}